<footer class="site-foot">
  <div class="wrap">
    <div class="col">
      <h4>Contact</h4>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      <span class="fine">Computer Science &amp; Mathematics <br>
        1403 Stevenson Center <br>
        Vanderbilt University</span>
    </div>
    <div class="col">
      <h4>Pages</h4>
      <a href="{{ '/publications.html' | relative_url }}">Publications</a>
      <a href="{{ '/teaching.html' | relative_url }}">Teaching</a>
      <a href="{{ '/supervision.html' | relative_url }}">Supervision</a>
      <a href="{{ '/frontiers.html' | relative_url }}">Frontiers</a>
      <a href="{{ '/media-videos-notes.html' | relative_url }}">Media</a>
      <a href="{{ '/blog/' | relative_url }}">Blog</a>
      <a href="{{ '/cv.html' | relative_url }}">CV</a>
    </div>
    <div class="col">
      <h4>Elsewhere</h4>
      <a href="https://scholar.google.ca/citations?user=0Wkji3IAAAAJ&hl=en">Google Scholar</a>
      <a href="https://arxiv.org/a/kapulkin_c_1">arXiv</a>
      <a href="{{ '/feed.xml' | relative_url }}">RSS feed</a>
    </div>
    <div class="col">
      <span class="fine">© Chris Kapulkin</span>
    </div>
  </div>
</footer>
